---
import Layout from "@/layouts/Layout.astro";
import Cartas from "@/components/Cartas.astro";
import CartaIcon from "@/components/carta/CartaIcon.astro";
import SocialContacts from "@/components/SocialContacts.astro";
const cartas = [
  {
    id: "1",
    title: "Entradas",
    description:
      `Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa consectetur adipisicing elit panisa consectetur adipisicing elit`,
  },
  {
    id: "2",
    title: "Especiales",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
  {
    id: "3",
    title: "Segundos",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
  {
    id: "4",
    title: "Bebidas",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
];
---

<Layout title="Carta">
  <div slot="main" id="main-section">
    <section class="relative">
      <article
        class="sm:max-w-[60%] sm:absolute bottom-[16px] right-[16px] bg-white py-2 px-4 md:px-8 bg backdrop-blur-md bg-opacity-50 rounded-tl-lg shadow-2xl"
      >
        <h3 class="text-lg text-white font-semibold bg-finn-950 w-fit px-4 py-1 rounded-md">
          Verifica la carta de nuestras variedades
        </h3>
        <h1 class="subtitle text-3xl px-4 border-l-2 border-finn-950">Almuerzos saludables y bebidas frescas</h1>
        <ul class="flex flex-wrap w-full gap-8">
          {
            cartas.map(({ title }) => (
              <li>
                <CartaIcon href={`#${title}`} cartaName={title} />
              </li>
            ))
          }
        </ul>
      </article>
      <picture>
        <img
          src="/assets/img/barra.jpg"
          alt="Restaurante"
          class="w-full max-h-[500px] object-fill rounded-lg"
        />
      </picture>
    </section>

    <section>
      <h1 class="subtitle text-center text-4xl">Nuestra carta</h1>
      <hr class="mb-4" />
      <article class="flex flex-col w-full gap-12">
        {
          cartas.map(({ id, title, description}, index) => (
            <Cartas 
              id={title} 
              title={title}
              isOdd={index % 2 === 0}
              >
              <div slot="description">
                <p>{description}</p>
              </div>
              
              <aside
                class="sm:col-span-2"
              >
                <img
                  src={`/assets/img/carta_${id}.jpg`}
                  alt={title}
                  class="w-full object-cover rounded-xl shadow-2xl"
                  loading="lazy"
                />
              </aside>
            </Cartas>
          ))
        }
      </article>
    </section>

    <div class="fixed right-5 bottom-5">
      <SocialContacts mode="vertical"/>
    </div>
  </div>
</Layout>
