---
import Layout from "@/layouts/Layout.astro";
import Cartas from "@/components/Cartas.astro";
import CartaIcon from "@/components/carta/CartaIcon.astro";
import SocialContacts from "@/components/SocialContacts.astro";
const cartas = [
  {
    id: "1",
    title: "Entradas",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
  {
    id: "2",
    title: "Especiales",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
  {
    id: "3",
    title: "Segundos",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
  {
    id: "4",
    title: "Bebidas",
    description:
      "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quia eaque ipsum temporibus quae impedit awuck laram panisa",
  },
];
---

<Layout title="Carta">
  <div slot="main" id="main-section">
    <header class="relative">
      <article
        class="sm:max-w-[60%] sm:absolute bottom-[38px] right-[16px] p-2 md:p-8 bg-[#FFF9DF] backdrop-blur-sm bg-opacity-50 rounded-tl-lg shadow-2xl"
      >
        <h3 class="text-lg text-zinc-950 font-semibold">
          Verifica la carta de nuestras variedades
        </h3>
        <h1 class="subtitle text-2xl">Almuerzos y bebidas frescas y saludables</h1>
        <ul class="flex flex-wrap w-full gap-8">
          {
            cartas.map(({ id, title }) => (
              <li>
                <CartaIcon href={`#${title}`} cartaName={title} />
              </li>
            ))
          }
        </ul>
      </article>
      <picture>
        <img
          src="/assets/img/principal3.jpg"
          alt="Restaurante"
          class="w-full max-h-[500px] object-fill rounded-lg"
        />
      </picture>
    </header>

    <section>
      <h1 class="subtitle text-center text-4xl">Nuestra carta</h1>
      <hr class="mb-4" />
      <article class="flex flex-col w-full gap-12">
        {
          cartas.map(({ id, title, description }, index) => (
            <Cartas 
              id={title} 
              title={title}
              isOdd={index % 2 === 0}
              >
              <p slot="description">{description}</p>
              <aside
                class="sm:col-span-2"
              >
                <img
                  src={`/assets/img/carta_${id}.jpg`}
                  alt={title}
                  class="max-w-[90%] object-cover mx-auto"
                  loading="lazy"
                />
              </aside>
            </Cartas>
          ))
        }
      </article>
    </section>

    <div class="fixed right-5 bottom-5">
      <SocialContacts mode="vertical"/>
    </div>
  </div>
</Layout>
